@import '../Styles/mixins.scss';

.hint {
  z-index: 10;
  @include flexDiv(center, center, row);
  @include wi_he(280px, 100px);
  @include colorGrad(white, (#262b37, #4d4450));
  transition: 1s;
  border-radius: 20px;
  position: fixed;
  left: 15px;
  cursor: pointer;

  h3 {
    width: 180px;
    font-size: 15px;
  }

  img {
    @include wi_he(50px, 50px);
    margin: 0 10px;
  }
}

.error {
  text-shadow: 0 0 20px red;
}

.done {
  text-shadow: 0 0 20px #14fa03;
}

.warn {
  background: #f6f604;
}
