@mixin flexDiv($just, $align, $direc) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $direc;
}

@mixin sizes($width, $height, $weight, $size) {
  width: $width;
  height: $height;
  font-weight: $weight;
  font-size: $size;
}
@mixin wei_fon($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}

@mixin wi_he($width, $height) {
  width: $width;
  height: $height;
}

@mixin colorGrad($color, $back) {
  color: $color;
  background: linear-gradient(to right, $back);
}

@mixin colorShadow($color, $back, $box, $text) {
  color: $color;
  background: $back;
  box-shadow: $box;
  text-shadow: $text;
}

@mixin colorSimple($color, $back) {
  color: $color;
  background: $back;
}
@mixin transitionScale($trans, $scale) {
  transition: $trans;
  transform: scale($scale);
}
