.notFound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #292929;
  p {
    color: darkgrey;
  }
  &_image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: 25px;
    img{
      width: 50%;
    }
    h2{
      color: white;
      max-width: 400px;
    }
    span{
      color:#0a84de;
      font-size: 50px;
    }
  }
}
