.notfound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #553d83, #8f049f);

  .notfound_content {
    background: linear-gradient(to right, #262B37, #4D4450);
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    div {
      width: 460px;
    }

    .notfound_content_img {
      height: 550px;
      img {
        width: 200px;
        height: 200px;
        position: relative;
        top: 150px;
      }

      p {
        font-weight: 900;
        font-size: 120px;
      }

    }

    .notfound_content_description {
      width: 410px;
      text-align: start;
      padding: 0 30px;

      p {
        font-size: 20px;
      }
    }
  }
}