.notFound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  background: linear-gradient(to right, #0f2027, #553d83, #8f049f);

  &_information {
    color: white;
    border-radius: 20px;
    width: 40%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: 800;
      min-width: 300px;
      font-size: 35px;
      margin: 0 0;
    }

    p {
      min-width: 300px;
      width: 80%;
      font-size: 18px;
    }

    p:first-child {
      text-shadow: 0 0 18px #9c3ee0;
      color: #e4e5ef;
      margin: 0 0;
      font-weight: 900;
      font-size: 150px;
    }
  }
}
