//responsive
$base-height:100vh;

$weight-900:900;
$weight-400:400;
$weight-500:500;

//colors
$color-white:white;
$color-blue:#0a84de;
$color-green:#41ea6e;
$color-darkGrey:darkgrey;

//flex
$justify-center:center;
$justify-spaceB:space-between;
$justify-spaceA:space-around;
$justify-start:flex-start;
$justify-end:flex-end;

$align-center:center;
$align-start:flex-start;
$align-end:flex-end;

$flex-directionC:column;
$flex-directionR:row;

$gap-15:15px;
$gap-10:10px;
$gap-5:5px;

//animation
$transition1s:1s;
$transition2s:2s;

//cursor
$cursor-pointer:pointer;

//border-radius
$border-radius20:20px;
$border-radius30:30px;

$border-none:none;
