.container {
  min-height: 100vh;
  background: linear-gradient(to right, #121421, #1b1e2f);
  display: flex;
  justify-content: center;
  align-items: center;

  .container_navApp {
    .container_navApp_avatar_decor {
      margin: 0;
      width: 210px;
      opacity: 0.7;
      border-top: solid 1px white;
    }

    color: white;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    width: 350px;
    background: #00000047;
    //background: radial-gradient(circle, #101826 0%, #172740 82%);

    .container_navApp_logout {
      min-height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      p {
        margin: 0 5px;
        transition: 1s;
        font-weight: 700;
        height: 30px;
      }


      img {
        width: 40px;
        height: 40px;
      }
    }

    .container_navApp_avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15vh;

      .container_navApp_avatar_img {
        width: 160px;
      }

      .container_navApp_avatar_person {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
          margin: 0;
        }

        p {
          color: darkgrey;
          margin: 0;
        }
      }

      img {
        box-shadow: 0 0 5px black;
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
    }

    .container_navApp_link {
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .container_navApp_link_app {
        transition: 1s;
        background: #141724;
        opacity: 1;
      }

      div {
        width: 240px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        height: 95px;
        opacity: 0.4;

        span {
          height: 15px;
          background: #0e0f19;
          width: 100%;
          border-radius: 0 0 10px 0;
        }

        span:last-child {
          border-radius: 0 10px 0 0;
        }

        div {
          a {
            width: 60%;
            text-decoration: none;
            color: white;
            font-family: 'Arial Narrow';
            font-weight: 900;
            font-size: 20px;
          }

          opacity: 0.5;
          background: #00000047;
          height: 80px;
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 270px;
          border-radius: 20px 0 0 20px;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

.outlet {
  min-height: 100vh;
  background: linear-gradient(to right, #121421, #252734);
}
