@import '../../../Common/Styles/mixins.scss';

.registration {
  border-radius: 20px;
  border: solid 0.5px white;
  width: 500px;
  max-height: 610px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  header {
    margin: 30px 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    a {
      text-decoration: none;
      font-weight: 700;
    }

    b {
      font-family: "Calibri Light";
      font-weight: 400;
    }

    h1 {
      letter-spacing: 0.5px;
      font-weight: 900;
      font-size: 20px;

      span {
        font-size: 40px;
        color: #0a84de;
      }
    }
  }

  &_fill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &_field {
      border-radius: 40px;
      box-shadow: 0 0 2px darkgrey;
      display: flex;
      align-items: center;
      width: 330px;


      div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 70px;
      }

      input {
        outline: none;
        color: white;
        font-size: 17px;
        margin-left: 25px;
        background: rgb(37, 37, 41);
        width: 225px;
        border: none;
        height: 30px;
      }

      label {
        font-weight: 800;
        color: darkgrey;
        padding-left: 25px;
      }

      img {
        margin-right: 25px;
        width: 40px;
        height: 40px;
      }
    }
  }
}

//.registration {
//  @include flexDiv(center, flex-start, column);
//  background: #41ea6e;
//  width: 600px;
//  height: auto;
//  font-weight: 900;
//  font-size: 14px;
//  z-index: 0;
//  color: #525461;
//
//  button {
//    width: 97%;
//  }
//
//  a {
//    text-decoration: none;
//    color: rgba(255, 255, 255, 0.65);
//  }
//
//  p {
//    span {
//      color: #234d78;
//    }
//
//    position: relative;
//    top: -50px;
//  }
//
//  p:first-child {
//    position: relative;
//    top: 120px;
//    font-size: 20px;
//  }
//
//  h1 {
//    span {
//      font-size: 100px;
//      color: #0370e5;
//    }
//
//    @include wei_fon(900, 50px);
//    color: white;
//  }
//
//  &_fields {
//    @include flexDiv(space-between, none, none);
//    width: 97%;
//    margin: 10px 0;
//    flex-wrap: wrap;
//
//    div {
//      @include flexDiv(space-between, center, none);
//      @include wi_he(45%, 80px);
//      @include colorShadow(none, #323645, 0 0 10px rgba(0, 0, 0, 0.5), none);
//      min-width: 100px;
//      border-radius: 20px;
//
//      img {
//        @include wi_he(30px, 30px);
//        margin: 0 20px;
//        color: #a9acb3;
//      }
//
//      div {
//        @include flexDiv(center, flex-start, column);
//        width: 90%;
//        box-shadow: none;
//
//        label {
//          margin: 0 20px;
//        }
//
//        input {
//          @include sizes(90%, 50px, 900, 22px);
//          @include colorSimple(white, #323645);
//          min-width: 100px;
//          margin: 0 15px;
//          outline: none;
//          border: none;
//        }
//      }
//    }
//  }
//
//  &_password {
//    @include flexDiv(none, none, column);
//    width: 100%;
//    margin: 10px 0;
//
//    div {
//      @include flexDiv(space-between, center, none);
//      @include wi_he(97%, 80px);
//      @include colorShadow(none, #323645, 0 0 10px rgba(0, 0, 0, 0.5), none);
//      margin: 10px 0;
//      min-width: 100px;
//      border-radius: 20px;
//
//      img {
//        @include wi_he(30px, 30px);
//        margin: 0 20px;
//        cursor: pointer;
//      }
//
//      div {
//        @include flexDiv(center, flex-start, column);
//        width: 90%;
//        box-shadow: none;
//
//        label {
//          margin: 0 20px;
//        }
//
//        input {
//          @include sizes(90%, 50px, 900, 22px);
//          @include colorSimple(white, #323645);
//          min-width: 100px;
//          margin: 0 15px;
//          outline: none;
//          border: none;
//        }
//      }
//    }
//  }
//}
