@import '../../../Common/Styles/mixins.scss';

.registration {
  border-radius: 20px;
  width: 500px;
  max-height: 610px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  header {
    margin: 30px 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    a {
      text-decoration: none;
      font-weight: 700;
    }

    b {
      font-family: "Calibri Light";
      font-weight: 600;
    }

    h1 {
      color: white;
      letter-spacing: 0.5px;
      font-weight: 900;
      font-size: 30px;

      span {
        font-size: 60px;
        color: #0a84de;
      }
    }
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      &:active {
        box-shadow: inset 0 0 10px #000000;
      }

      cursor: pointer;
      border: none;
      box-shadow: 0 0 6px #06fbde;
      font-size: 25px;
      font-weight: 900;
      color: white;
      background: #323645;
      border-radius: 20px;
      min-width: 345px;
      height: 70px;
    }
  }

  &_fill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &_field {
      border-radius: 20px;
      box-shadow: 0 0 6px black;
      display: flex;
      align-items: center;
      min-width: 345px;
      background: #323645;


      div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 80px;
      }

      input {
        outline: none;
        color: white;
        font-size: 18px;
        margin-left: 25px;
        background: #323645;
        font-weight: 900;
        width: 275px;
        border: none;
        height: 40px;
      }

      label {
        font-weight: 800;
        color: darkgrey;
        padding-left: 25px;
      }

      img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
      }
    }
  }
}
