@import '../../../Common/Styles/mixins.scss';

.registration {
  margin: 10px 0;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  header {
    line-height: 0px;
    margin: 15px 15px;
    letter-spacing: 0.2px;
    color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    a {
      color: #41ea6e;
      text-decoration: none;
      font-weight: 700;
    }

    b {
      font-family: "Calibri Light";
      font-weight: 600;
    }

    h1 {
      color: white;
      letter-spacing: 0.5px;
      font-weight: 900;
      font-size: 26px;

      span {
        font-size: 50px;
        color: #0a84de;
      }
    }
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      &:active {
        box-shadow: 0 0 6px #06fbde;
      }

      box-shadow: 0 0 10px #000000;
      cursor: pointer;
      border: none;
      font-size: 25px;
      font-weight: 900;
      color: white;
      background: #323645;
      border-radius: 20px;
      width: 345px;
      height: 70px;
    }
  }

  &_fill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &_field {
      border-radius: 10px;
      box-shadow: 0 0 6px black;
      display: flex;
      align-items: center;
      gap: 10px;
      min-width: 305px;
      background: #323645;


      div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 70px;
      }

      input {
        outline: none;
        color: white;
        font-size: 18px;
        margin-left: 15px;
        background: #323645;
        font-weight: 900;
        width: 265px;
        border: none;
        height: 40px;
      }

      label {
        font-weight: 800;
        color: darkgrey;
        padding-left: 15px;
      }

      img {
        margin-right: 10px;
        width: 45px;
        height: 45px;
      }
    }
  }
}
