@import '../../../Common/Styles/mixins.scss';

.reg {
  @include flexDiv(center, flex-start, column);
  @include sizes(600px, auto, 900, auto);
  z-index: 0;
  color: #525461;

  button {
    width: 97%;
  }

  p {
    span {
      color: #234d78;
    }

    position: relative;
    top: -50px;
  }

  p:first-child {
    position: relative;
    top: 120px;
    font-size: 20px;
  }

  h1 {
    span {
      font-size: 100px;
      color: #0370e5;
    }

    @include wei_fon(900, 50px);
    color: white;
  }

  .reg_profile {
    @include flexDiv(space-between, none, none);
    width: 97%;
    margin: 10px 0;
    flex-wrap: wrap;

    div {
      @include flexDiv(space-between, center, none);
      @include wi_he(45%, 80px);
      @include colorShadow(none, #323645, 0 0 10px rgba(0, 0, 0, 0.5), none);
      min-width: 100px;
      border-radius: 20px;

      img {
        @include wi_he(30px, 30px);
        margin: 0 20px;
        color: #a9acb3;
      }

      div {
        @include flexDiv(center, flex-start, column);
        width: 90%;
        box-shadow: none;

        label {
          margin: 0 20px;
        }

        input {
          @include sizes(90%, 50px, 900, 22px);
          @include colorSimple(white, #323645);
          min-width: 100px;
          margin: 0 15px;
          outline: none;
          border: none;
        }
      }
    }
  }

  .reg_security {
    @include flexDiv(none, none, column);
    width: 100%;
    margin: 10px 0;

    div {
      @include flexDiv(space-between, center, none);
      @include wi_he(97%, 80px);
      @include colorShadow(none, #323645, 0 0 10px rgba(0, 0, 0, 0.5), none);
      margin: 10px 0;
      min-width: 100px;
      border-radius: 20px;

      img {
        @include wi_he(30px, 30px);
        margin: 0 20px;
        cursor: pointer;
      }

      div {
        @include flexDiv(center, flex-start, column);
        width: 90%;
        box-shadow: none;

        label {
          margin: 0 20px;
        }

        input {
          @include sizes(90%, 50px, 900, 22px);
          @include colorSimple(white, #323645);
          min-width: 100px;
          margin: 0 15px;
          outline: none;
          border: none;
        }
      }
    }
  }
}