.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 220px;

  section {
    height: 120px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      position: relative;
      top: 50px;
      font-size: 30px;
      line-height: 24px;
      font-weight: 900;
      background-image: linear-gradient(-45deg, #989a9b 50%, #ffffff 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      position: relative;
      top: 60px;
      color: #41ea6e;
    }
  }

  img {
    width: 250px;
  }

}