.login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 530px;
  margin: 10px 0;
  gap: 20px;

  button {
    &:active {
      box-shadow: 0 0 6px #06fbde;
    }

    box-shadow: 0 0 10px #000000;
    cursor: pointer;
    border: none;
    font-size: 25px;
    font-weight: 900;
    color: #464444;
    background: white;
    border-radius: 20px;
    width: 345px;
    height: 70px;
  }

  &_description {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: darkgrey;
      line-height: 15px;
      width: 200px;
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 140px;
      line-height: 5px;

      a {
        color: #41ea6e;
        font-family: 'Calibri Light';
        font-size: 16px;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }

  header {
    line-height: 0px;
    width: 100%;
    color: darkgrey;
    align-items: flex-start;
    margin-bottom: 30px;

    b {
      font-family: 'Calibri Light';
      font-weight: 600;
    }

    h1 {
      color: white;
      letter-spacing: 0.5px;
      font-weight: 900;
      font-size: 26px;

      span {
        font-size: 50px;
        color: #0a84de;
      }
    }
  }
}
