.footer {
  height: 10vh;
  background: #393a3e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
  gap: 5px;
  font-size: 17px;
  font-weight: 400;
}