.footer {
  font-family: Inconsolata;
  min-height: 12vh;
  color: darkgrey;
  background: #111116;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  flex-direction: column;
  gap: 5px;
  font-size: 17px;
  font-weight: 400;
  width: 100%;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: 700;
    color: darkgrey;
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      margin-right: 50px;
      li{
        margin:  0 10px;
      }
      img{
        transition: 500ms;
        &:hover{
          scale: 1.1;
        }
        cursor: pointer;
        width: 40px;
        height: 40px;
      }
    }
  }

}
