.pagination {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  height: 30px;
  width: 30px;
  color: rgba(255, 255, 255, 0.58);
}
.active_pagination {
  font-size: 18px;
  font-weight: 900;
  color: white;
  text-decoration: underline;
}
