body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Arial Narrow', sans-serif;
}

body,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
