.auth {
  background: linear-gradient(to right, #0f2027, #553d83, #8f049f);
  min-height: 100vh;

  .auth_logo {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 120px;
      position: relative;
      left: -25px;
      top: 5px;
      text-shadow: 1px 1px 1px #ffffff;
      color: white;
    }

    img {
      width: 120px;
      height: 120px;
    }

    h3 {
      position: relative;
      top: -40px;
    }
  }

  .auth_outlet {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
}

.test {
  border: solid 2px red;
  height: 600px;

  div {
    position: absolute;
    width: 700px;
    opacity: 0.4;
    height: 600px;
    background: #d7cccc;
    filter: blur(1px);
  }

  .test1 {
    filter: blur(0px);
    background: none;
    opacity: 1;
  }
}