@import '../../Common/Styles/mixins.scss';

.auth {
  background: linear-gradient(to right, #0f2027, #553d83, #8f049f);
  min-height: 100vh;

  .auth_logo {
    @include wi_he(350px, auto);
    @include flexDiv(center, center, none);

    div {
      @include flexDiv(center, center, column);
      height: 120px;
      position: relative;
      left: -40px;
      top: 5px;
      text-shadow: 1px 1px 1px #ffffff;
      color: white;
    }

    img {
      @include wi_he(120px, 120px);
    }

    h3 {
      position: relative;
      top: -40px;
    }
  }

  .auth_outlet {
    @include flexDiv(space-around, none, none);
    flex-wrap: wrap;
  }
}
