@import '../../Common/Styles/mixins.scss';

@keyframes sliderImg {
  from {
    transform: translate(0, -160px);
  }
  to {
  }
}

.slider {
  @include flexDiv(flex-start, center, column);
  @include wi_he(800px, auto);
  color: white;
  .slider_content_image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .slider_content {
      @include wi_he(100%, 230px);
      @include flexDiv(center, center, column);
      border-radius: 0 0 20px 20px;

      h1 {
        text-shadow: 0 0 20px rebeccapurple;
        font-weight: 900;
        color: #0370e5;
        margin: 0 0;
      }

      p {
        font-size: 17px;
        width: 55%;
      }

      background: linear-gradient(to right, #262b37, #4d4450);
    }
    .slider_img {
      animation: sliderImg 1s;
      border-radius: 20px 20px 0 0;
      @include wi_he(100%, 430px);
    }
  }

  .slider_switcher {
    .slider_switcher_focus {
      transition: 2s;
      background: #525461;
      box-shadow: 0 0 20px #cf91fc;
    }

    @include flexDiv(space-around, center, none);
    @include wi_he(40%, 60px);

    div {
      @include wi_he(40px, 40px);
      box-shadow: 0 0 10px white;
      background: white;
      cursor: pointer;
      border-radius: 50%;
    }

    div:hover {
      transform: scale(1.3);
      transition: 1s;
    }
  }
}
