@import '../../Common/Styles/mixins.scss';

@keyframes sliderImg {
  from {
    transform: translate(0, -160px);
  }
  to {
  }
}

.slider {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  height: 530px;
  color: white;
  border-radius: 20px;

  img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 350px;
  }

  &_switchers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;

    .switchers_isActive {
      &:disabled{
        cursor: initial;
      }
      transition: 2s;
      background: #443e4a;
      box-shadow: 0 0 20px #cf91fc;
    }

    button {
      cursor: pointer;

      &:hover {
        transform: scale(1.5);
      }

      transition: 0.5s;
      border: none;
      background: white;
      border-radius: 30px;
      height: 40px;
      width: 40px;
    }
  }

  &_description {
    border-bottom: 0.5px white;

    dl {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      height: 125px;

      dt {
        color: #0a84de;
        font-size: 25px;
        font-weight: 900;
      }

      dd {
        width: 325px;
        font-weight: 400;
      }
    }
  }
}

